@import '@core/theme/colors';

.container {
  img {
    clip-path: circle();
    cursor: pointer;
  }
}

.dialog {
  position: absolute;
  right: 0;
  margin-right: 2rem;
  margin-top: 0.5rem;
  background-color: $paper;
  list-style: none;
  border-radius: 0.8rem;
  overflow: hidden;
  width: 18rem;

  p {
    padding: 10px 16px;
    word-wrap: none;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1.4rem;
    color: $text-secondary;
  }

  ul {
    list-style: none;

    li {
      padding: 10px 16px;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 1.6rem;
      
      &:hover {
        background-color: $paper-hover;
      }

      span {
        display: block;
        flex: 1;
      }

    }
  }
}