$background: rgba(27, 29, 35, 1);
$paper: rgb(37, 38, 44, 1);
$paper-hover: rgb(45, 46, 53);
$text: rgba(255, 255, 255, 1);
$text-secondary: rgba(255, 255, 255, 0.5);
$divider: rgba(255, 255, 255, 0.1);
$primary: rgba(61, 81, 250, 1);
