@import '@core/theme/colors';
@import '@core/theme/setup';

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.3) 20%, rgba(200, 200, 200, 0.08) 70%); 
  // url('/temple.svg');

  form {
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    width: min(400px, 95%);
    position: relative;

    .formTitle {
      margin-bottom: 4rem;
      font-size: 3.2rem;
    }

    .inputs {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
      width: 100%;

      .inputGroup {
        display: flex;
        flex-direction: column;
        gap: .8rem;

        label {
          font-weight: 600;
        }

        input {
          height: 4.5rem;
          padding: 0 1.6rem;
          font-size: 1.6rem;
          background-color: transparent;
          border: 2px solid rgba(255, 255, 255, 0.1);
          border-radius: .6rem;
          background-color: $paper;
          color: $text;
          transition: all 200ms linear;
          outline: 1px solid transparent;

          &::placeholder {
            color: rgba($text, 0.4);
            font-weight: 400;
          }

          &:focus {
            outline: 1px solid #fff;
          }
        }
      }
    }

    button {
      height: 5rem;
      font-size: 1.6rem;
      margin-top: 5rem;
      width: 100%;
      background: $primary;
      border: none;
      color: #fff;
      font-weight: 600;
      border-radius: .6rem;
      transition: all 200ms linear;
      cursor: pointer;

      &:hover {
        background: $background;
        border: 1px solid $text-secondary;
      }
    }
  }
}