@import '@core/theme/colors';
@import '@core/theme/setup';

.aside {
  width: $drawer_width;
  height: 100vh;
  border-right: 1px solid $divider;
  transition: all 300ms ease;
  margin-left: -$drawer_width;
  position: absolute;
  background-color: $background;
  display: none;

  .iconClose {
    position: absolute;
    right: -4rem;
    top: 2rem;
    color: $text-secondary;

    &.closed {
      display: none;
    }
  }
  
  &.active {
    margin-left: 0;
    box-shadow: 1rem 0 2rem rgba(0,0,0,.2);
  }

  @media screen and (max-width: $md) {
      display: block;
      box-shadow: none;
  }

  a {
    text-decoration: none;
    color: $text-secondary;
  }

  .title {
    color: $text;
    font-weight: 600;
    padding: 1.6rem;
  }

  .options {
    padding: 0 2rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    .listItem {
      padding: 1rem 1.6rem;
      border-radius: 0.8rem;
      display: flex;
      align-items: center;
      gap: 1.6rem;

      &.active {
        background-color: $primary;
        color: $text;
        font-weight: 600;
      }

      &:hover {
        background-color: $paper;
      }
    }
  }
}